<div class="home__container"> 
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS4"
        gamePrice="R$ 269.99"
    >
    </app-card>

    <app-card
        gameCover="assets/bt-5.jpg"
        gameLabel="EXCLUSIVE"
        gameType="DISC | PS5"
        gamePrice="R$ 199,99"
    >
    </app-card>

    <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="BEST OF YEAR"
        gameType="DIGITAL | PS3  PS4  PS5"
        gamePrice="R$ 79.99"
    >
    </app-card>

    <app-card
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="BEST OF YEAR"
        gameType="DISC | PS3  PS4  PS5"
        gamePrice="R$ 189.99"
>
</app-card>

    <app-card
            gameCover="assets/bt-4.jpg"
            gameLabel="SALE OFF"
            gameType="DIGITAL | PS3  PS4  PS5"
            gamePrice="R$ 69.90"
    >
    </app-card>

    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameLabel="NEW"
        gameType="DIGITAL | PS3  PS4  PS5"
        gamePrice="R$ 259,90"
    >
    </app-card>
</div>
